<section>
    <article *ngIf="employeeData && !isLoading">
        <div *ngFor="let employee of employeeData">
            <hr>
            <p> <strong>Name:</strong> {{employee.name}} </p> 
            <p> <strong>Contract type:</strong> {{employee.contractType}} </p> 
            <p> <strong>Role:</strong> {{employee.roleName}} </p> 
            <p> <strong>Role Description:</strong> {{employee.roleDescription}} </p> 
            <p> <strong>Annual Salary:</strong> ${{employee.annualSalary}} </p> 
        </div>
    </article>
    <ngx-skeleton-loader count="5" *ngIf="!employeeData && isLoading"></ngx-skeleton-loader>
</section>