@import "../../app.component.scss";

article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    @include mq-up(sm) {
        flex-direction: row;
        justify-content: space-around;
    }
}