<h1 class="title">Find the employee salary</h1>
<br>
<form *ngIf="form" [formGroup]="form" (ngSubmit)="initValues(); getEmployee()" class="form">
    <div class="form-group employee-id">
        <input type="text" name="employee-id" id="employee-id" class="form-control" placeholder="You can type the employee id"
        formControlName="employeeId">
    </div>
    <span *ngIf="form.controls.employeeId.errors?.invalidData" class="alert alert-danger error-message"> Only numbers are allowed </span>
    
    <button type="submit" class="btn btn-primary btn-form" id="btn-form">Get Employee</button>
</form>
<br>


<div class="alert alert-danger" role="alert" *ngIf="error">
    {{error.errorMessage}}
</div>
