@import "../../app.component.scss";

.title {
    text-align: center;
    font-size: 1.8rem;
    @include mq-up(sm) {
        text-align: left;
    }
    @include mq-up(xs) {
        font-size: 2.5rem;
    }
}

.form {
    display: grid;
    grid-template-areas: "idText"
                         "errorMessage"
                         "button";

    @include mq-up(sm) {
        grid-template-columns: 80% auto;
        grid-template-areas: "idText button"
                         "errorMessage errorMessage";
        .form-group {
            width: 100%;
            margin: auto;
        }

        .error-message {
            margin: 10px 15px 0 0;
        }
    }
}

.employee-id {
    grid-area: idText;
}

.error-message {
    grid-area: errorMessage;
}

.btn-form {
    grid-area: button;
}

.form > button {
    @include mq-up(sm) {
        margin: auto;
    }
}
